#root {
  margin: 0 auto;
  padding: 3rem 10rem;
  text-align: center;
  background-color: #0d1b2a;
  color: #e0e1dd;
}

.input-text{
  width: 100%;
  text-align: center;
  padding: 2%;
  margin-bottom: 5%;
}
.itemTask{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ;
}

.list{
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
}

.checked-item {
  text-decoration: line-through;
}

